html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

#preview-container {
    /* fullscreen */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;

    /* disable highlighting */
    user-select: none;
}

#preview-canvas {
    /* padding from the editor panel */
    padding: 8px;

    /* scale down with fixed aspect to fit */
    max-width: 100%;
    max-height: 100%;

    /* center horizontally and vertically */
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.flip-x {
    scale: -1 1;
}