html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    /* remove default style */
    padding: 0;

    /* disable highlighting */
    user-select: none;
}

#progress-spinner {
    /* center horizontally and vertically */
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

#main-container {
    /* fill the entire panel, but requires body have no padding */
    width: 100vw;
    height: 100vh;

    /* allow side bar to be optionally shown */
    display: flex;
    flex-direction: row;
}

#main-area {
    /* take up all space not used by the side bar */
    order: 1;
    flex: 1 1 auto;

    /* allow bottom bar to be optionally shown */
    display: flex;
    flex-direction: column;

    /* allow bottom bar to be as narrow as it wants without scrollbars */
    overflow-x: hidden;
}

#side-bar {
    /* docked on the right at a fixed width */
    order: 2;
    flex: 0 0 300px;
    margin: 0 8px 8px 0;

    /* style to match the current vscode theme */
    background-color: var(--panel-view-background);
    border-color: var(--panel-view-border);
    border-style: solid;
    border-width: thin;

    /* allow side bar to be as short as it wants without scrollbars */
    overflow-y: hidden;
}

#canvas-wrapper {
    /* upper left majority of screen */
    order: 1;
    flex: 1 1 auto;

    /* allow cell to shrink below content size */
    min-height: 0;

    /* allow div to expand to fill up the cell */
    display: flex;
}

#texture-canvas {
    /* padding to the edge of the window */
    padding: 8px;

    /* scale down maintaining aspect ratio */
    max-width: 100%;
    max-height: 100%;

    /* center horizontally and vertically in cell */
    margin: auto;
}

#texture-canvas.flip-x {
    /* add this class to canvas to mirror horizontally */
    scale: -1 1;
}

#bottom-bar {
    /* docked on the bottom with a fixed height */
    order: 2;
    flex: 0 0 50px;

    /* arrange all children horizontally */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 8px;
}

#format-control {
    justify-self: center;
    align-self: center;
}

#pixel-format {
    min-width: 150px;
}

#colorspace-control {
    /* first cell from the left on the bottom row */
    justify-self: center;
    align-self: center;
}

#colorspace {
    min-width: 150px;
}

#channels-control {
    justify-self: center;
    align-self: center;
}

#miplevel-control {
    justify-self: center;
    align-self: center;
}

#miplevel {
    min-width: 150px;
}

/* styling a label that adheres to the vscode design language */
.dropdown-container {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.dropdown-container label {
    display: block;
    color: var(--vscode-foreground);
    cursor: pointer;
    font-size: var(--vscode-font-size);
    line-height: normal;
    margin-bottom: 2px;
}

/* codicons */
#icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#icons .icon {
    width: 140px;
    padding: 20px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#icons .icon .codicon {
    font-size: 32px;
    padding-bottom: 16px;
}