html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

div.main {
    /* disable highlighting */
    user-select: none;
}

img.preview {
    /* so the image doesn't go up to the edge of the editor panel */
    padding: 8px;

    /* center horizontally and vertically */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}