html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    /* remove default style */
    padding: 0;

    /* disable highlighting */
    user-select: none;
}

#preview-progress {
    /* center horizontally and vertically */
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

#preview-grid {
    /* fill the entire panel, but requires body have no padding */
    width: 100vw;
    height: 100vh;

    /* 3x3 grid */
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 50px auto 50px;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

#preview-controls {
    /* top center cell of a 3x3 grid */
    grid-area: 1 / 2 / 2 / 3;
}

#preview-container {
    /* middle cell of a 3x3 grid */
    grid-area: 2 / 2 / 3 / 3;

    /* allow cell to shrink below content size */
    min-height: 0;

    /* allow div to expand to fill up the cell */
    display: flex;
}

#preview-canvas {
    /* scale down maintaining aspect ratio */
    max-width: 100%;
    max-height: 100%;

    /* center horizontally and vertically in cell */
    margin: auto;
}

.flip-x {
    /* add this class to canvas to mirror horizontally */
    scale: -1 1;
}

/* styling a label that adheres to the vscode design language */
.dropdown-container {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.dropdown-container label {
    display: block;
    color: var(--vscode-foreground);
    cursor: pointer;
    font-size: var(--vscode-font-size);
    line-height: normal;
    margin-bottom: 2px;
}

/* codicons */
#icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#icons .icon {
    width: 140px;
    padding: 20px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#icons .icon .codicon {
    font-size: 32px;
    padding-bottom: 16px;
}